*{
    margin:0;
    padding:0;
}

body{
    font-family:'Open Sans', sans-serif, Arial;
	font-size:20px;
	color:#ff7300;
    background: linear-gradient(60deg, rgba(255,115,0,1) 0%, rgba(85,85,85,1) 15%, rgba(0,0,0,1) 100%) fixed center;
}

#container {
    width: 100vw;
    height:100vh;
    display:flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#game{
    position:relative;
    height:300px;
    width:200px;
    overflow: hidden;
    background-color: black;
}

#game:hover{
    box-shadow: 0px 0px 23px 8px #ff7300;
    cursor:pointer;
}

#guess-the-number{
    position: absolute;
    left:-25%;
    top:0;
    height:90%
}

figcaption{
    position: absolute;
    bottom:10%;
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
}

#titleGame{
	width:100vw;
	text-align:center;
	font-size:40px;
	padding:0;
    margin:0;
    font-family: 'Roboto Mono', monospace;
}

.reload{
	font-size:30px;
	text-transform:uppercase;
	cursor:pointer;
	color:#3366ff;
    margin:50px;
    line-height: 2.4;
}

.reload:hover{
	color:#668cff;
}

#hi-score{
    margin-left:calc(10vw - 15px);
}

#result, #inputNumber, #howManyTries, #retry-or-back, #newRecord{
    text-align: center;
    margin:20px;
}

#betNumber{
    color:#ff7300;
    background-color: #2f3336;
    font-size: 24px;
    width:143.783px;
    height:29px;
    border:1px solid #ff7300;
    margin:10px;
    outline: none;
}

.submit{
	padding:20px 40px;
	background-color:#ff7300;
	color:#2f3336;
	letter-spacing:2px;
	border:none;
    display: block;
    text-align: center;
    margin: 10px auto 20px auto;
    outline: none;
}

.submit:hover{
	background-color:#ff9522;
	color:#666;
	cursor:pointer;
}
